

<link href="~/content/css/about.css" rel="stylesheet" />

<section class="home-banner-area relative backGroundImgAbout" id="home" data-parallax="scroll">
	<div class="class=" bradcam_area breadcam_bg overlay d-flex align-items-center justify-content-center"></div>
	<div class="container">
		<div class="row fullscreen justify-content-lg-begin">

			<div class="banner-content col-lg-12">
				<h1 style="color:#c5b134;">Fahad Assignment</h1>
				<br>
				<h4 style="color:white;">
					Welcome to Visa Application System, This is developed by Fahad for assignment .
				</h4>

				<!-- ===============================  Home  ======================================== -->
			</div>
		</div>
	</div>
</section>

